@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  /* --main-color:#6E7F9B */
  --main-color:#324A72
}

html{
  font-size: calc(60% + 0.6vmin);
}

h1{
  font-size: 3.4rem;
}
h2{
  font-size: 2.8rem;
}
h3{
  font-size: 2.3rem;
}

h4{
  font-size: 1.8rem;
}
p{
  font-size: 1.3rem;
}

input:focus{
outline:none;

}
.logo{
  font-family: 'Righteous', sans-serif;
}

button{
  border:none;
}
input::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}

.login-description{
color:var(--main-color);
}
.b-color{
  border:1px solid #ddd
}
.forget-password{
  transition:.3s
}
.forget-password:hover{
  color:var(--main-color);
}
.continue{
  background-color:var(--main-color);
  transition:.3s;

}
.continue:hover{
  background-color:white;
  border:solid 2.5px var(--main-color);
  color:var(--main-color);
}
.inscription,.eye{
  transition:.3s;
}
.inscription:hover,.eye:hover{
  color:var(--main-color);
  opacity:1;
}
.rotour{
  color:var(--main-color);
}
/* landing page */
.identification{
  background-color:var(--main-color);
  color:white;
}

.landingTitle{
  color:var(--main-color);
}

.landingPicture{
  max-width:250%;
  /* margin-left:-200px */
  position: relative;
top: 30px;

}
.content{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(500px,2fr));
gap: 40px;
}
.right-side{
  background-size:cover;
}
.footer{
  background-color:var(--main-color);
}
/* landing page */